.column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 25px 10px 10px;
}

@media only screen and (min-width: 420px) {
  .column {
    height: 100%;
  }
}

.friend-item mat-icon {
  transform: scale(0.8) translateY(7px);
}

.friend-item img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  transform: translateY(5px);
}

.friend-item {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.clickable-icon:hover {
  cursor: pointer
}

.buttons button {
  width: 100%;
  margin: 5px;
}

